@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lilita One",sans-serif;
}

body{
justify-content: left;
align-items: center;
min-height: 100vh;
background: url('Images/backgroundImage.jpg') no-repeat;
background-size:cover ;
background-position: center;
}

header{     
padding: 20px;
width: 100%;
border-bottom: 2px solid #fff ;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 99;
}

.PokeTeam{
font-size: 2em;
color: #fff;
user-select: none;
-webkit-text-stroke: 0.5px #162938;
font-family: "Lilita One",sans-serif;
}

.barraNav a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.barraNav a::after
{
   content: '';
   position: absolute;
   left: 0;
   bottom: -6px;
   width: 100%;
   height: 3px;
   background: #fff;
   border-radius: 5px;
   transform: scaleX(0);
   transition: transform .5s;
}

.barraNav a:hover::after
{
    transform: scaleX(1);
}

.barraNav .btnLogin-popup{
width: 130px;
height: 50px;
background:transparent ;
border: 2px solid #fff;
outline: none;
border-radius: 6px;
cursor: pointer;
font-size: 1.1em;
color: #fff;
font-weight: 500;
margin-left: 40px;
transition: .5s;
}

.barraNav .btnLogin-popup:hover{
background: #fff;
color: #162938;
}

.barraNav .btnLogin-popup a{
  width: 130px;
  height: 50px;
  background:transparent ;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.wrapper {
display:absolute;
width: 400px;
margin-left: 1rem;
margin-top: 2rem;
height: 440px;
background: transparent;
border-radius: 20px;
backdrop-filter: blur(20px);
box-shadow: 40px 40px 40px 40px rgba(.5,.5,.5,.5);
justify-content: center;
align-items: center;
overflow: hidden;
transition: height .2 ease;
}


.wrapper .form-box
{
width: 100%;
padding: 40px;
display: none;
position: absolute;
top:0;
left: 0;
}

.wrapper .icon-close
{
position: absolute;
top: 0;
right: 0;
width: 8%;
height: 8%;
background:#162938;
font-size: 2em;
color: white;
display: flex;
justify-content: center;
align-items: center;
border-bottom-left-radius:20px ;
cursor: pointer;
z-index: 1;
}

.wrapper .form-box.login{
display: block;
}

.wrapper .form-box.register
{
  display: block;
}



.form-box h2
{
  font-size: 2em;
  color: #fff;
 -webkit-text-stroke: 0.5px #162938;
  text-align: center;
}
.input-box
{
 position:relative;
  width: 100%;
 height: 50px;
border-bottom: 2px solid #162938;
}

.input-box label{
  position: absolute;
  color: #fff;
 top:50% ;
 left: 5px;
 transform: translateY(50%);
 font-size: 1em;
 font-weight: 500;
 pointer-events: none;
}

.input-box input{
width: 100%;
height: 100%;
background: transparent;
border: none;
outline: none;
color: #fff;
font-size: 1em;
font-weight: 600;
padding: 0px 35px 0 5px;
}

.input-box ::placeholder
{
  color: #fff;
}


footer {
  background-color:transparent; 
  color: #fff; 
  padding: 20px;
  position: fixed; 
  left: 0; 
  bottom: 0; 
   width: 100%; 
  }

  footer p 
  {
   text-align: center;
  }

  
  .input-box .icon
  {
 position: absolute;
  right:8px;
  font-size: 1.2em;
 color: #162938;
   line-height: 57px;
  }

  .input-box input:focus~label,
  .input-box input:valid~label
  {
    top: -5px;
  }


  .remember
  {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0 0;
    cursor: pointer;
  }
  .remember label input
  {
    accent-color: #162938;
    margin-right: 3px;
  }
  .remember a
  {
    color: #162938;
    text-decoration: none;
  }

  .remember a:hover
  {
    text-decoration: underline;
  }

  .btn
  {
    width: 100%;
    height: 100%;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    padding: 5px 0 5px 0;
  }

  .login-register
  {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
  }

.login-register p a
{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover
{
    text-decoration: underline;
}





